<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <!-- PAGE INFO -->
    <meta charset="UTF-8" />
  
    <title>AgriTec</title>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <!-- DESTAQUES -->
    <link rel="stylesheet" href="css do slide/estilo.css">
    <link rel="stylesheet" href="css do slide/carrossel.css">>

    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- STYLES -->
    <link rel="stylesheet" href="css/style.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />


</head>

<body>
    <header id="header">
        <nav class="container">
            <a class="logo" href="#">AGRI<span>TEC</span>.</a>
            <!-- menu -->
            <div class="menu">
                <ul class="grid">
                    <li><a class="title" href="#home">HOME</a></li>
                    <li><a class="title" href="#destaque">DESTAQUES</a></li>
                    <li><a class="title" href="#calendario">CALENDARIO</a></li>
                    <li><a class="title" href="FornecedoresAgri.html">FORNECEDORES</a></li>
                    <li><a class="title" href="inffruta.html">ALIMENTOS</a></li>
                    <li><a class="title" href="#about">SOBRE</a></li>
                    <li><a class="title" href="#contact">CONTATO</a></li>
                </ul>
            </div>
            <!-- /menu -->
            <div class="toggle icon-menu"></div>
            <div class="toggle icon-close"></div>
        </nav>
    </header>

    <main>
        <!-- HOME -->
        <section class="section" id="home">
            <div class="container grid">
                <div class="image">
                    <img src="imagens/logoagri.jpeg" alt="logo marca da empresa" />
                </div>
                <div class="text">
                    <h2 class="title">Os Melhores alimentos da região para você </h2>
                    <p>
                        Um site exclusivo com os agricultores e micro-empreendedores da região da mata-sul de Pernambuco.
                    </p>
                    <!--h3>Venha agendar um horario com nossos profissionais</h3></br>
            <a class="button" href="index1.html">Agendar um Horário</a-->

                </div>
            </div>
        </section>

        <div class="divider-1"></div>

        <!-- DESTAQUE -->
        <section class="section" id="destaque">
            <div class="text">
                <div class="container grid">
                   
                    </div>
          CALENDARIO AQUI!!!!

                </div>
        </section>
        <!-- FIM DO DESTAQUE -->

        <div class="divider-2"></div>

        <!-- CALENDARIO -->
        <section class="section" id="calendario">
            <div class="container grid">
                <header>
                    <h2 class="title">CALENDARIO DE ALIMENTOS</h2>
                    <div class="wrapper">
                        <div id="calendarContainer"></div>
                        <div id="organizerContainer" style="margin-left: 8px;"></div>
                    </div>
                    <p></p>
                </header>
            </div>
        </section>
        <!-- FIM DO  CALENDARIO -->

        <div class="divider-1"></div>


        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        </div>
        </div>
        </section>

        <div class="divider"></div>

        <!-- INICIO DE SOBRE NÓS-->
        <section class="section" id="about">
            <div class="container grid">
                <div class="image">
                    <img src="imagens/agro.jpg" alt="Grupo" />
                </div>
                <div class="text">
                    <h2 class="title">SOBRE NÓS</h2>
                    <p>
                        Somos uma região da zona da mata rodeada por zona rural e por agricultores locais, onde a cada ano que se passa os produtos desses agricultores vem perdendo espaço no mercado por vários e vários motivos e muitos só tem esse meio de renda para sobreviver
                        e sustentar a sua família. Pensando sobre isso,desenvolvemos a AgriTec que valoriza esses agricultores e seus produtos.

                    </p>
                    <br />
                    <p>
                        O objetivo é valorizar vocês,nossos agricultores e com isso podemos expandir suas vendas e valorizar seus alimentos de origem natural produzido na nossa região.

                    </p>

                </div>
            </div>
        </section>
        <!-- FIM DE SOBRE NÓS-->

        <div class="divider-2"></div>


        <!-- INICIO DE ENTRAR EM CONTATO -->
        <section class="section" id="contact">
            <div class="container grid">
                <div class="text">
                    <h2 class="title">Entre em contato com a gente!</h2>
                    <p>
                        Faça parte da <span>AgriTec</span>, queremos você como um profissional da nossa plataforma.
                    </p>
                    <a href="https://api.whatsapp.com/send?phone=+5581994386651&text=Oi! Gostaria gostaria de saber mais sobre a AgriTec" class="button" target="_blank"><i class="icon-whatsapp"></i> Entrar em contato</a
            >
          </div>

          <div class="links">
            <ul class="grid">
              <li><i class="icon-phone"></i> 81 99999-0000</li>
              <li><i class="icon-map-pin"></i> R. Ze Almeida, 000</li>
              <li><i class="icon-mail"></i> contato@AgriTec.com</li>
            </ul>
          </div>
        </div>
      </section>
       <!-- FIM DE ENTRAR EM CONTATO-->

        <!-- INICIO  DO RODAPÉ-->

      <div class="divider-1"></div>
    </main>

    <footer class="section">
      <div class="container grid">
        <div class="brand">
          <a class="logo logo-alt" href="#home"><span>AgriTec</span>.</a>
                    <p>©2022 AgriTec.</p>
                    <p>Todos os direitos reservados.</p>
                </div>
                <!-- FIM DO RODAPÉ-->

</body>

</html>